<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lebicycling"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />
    <!-- 权限设定 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- <uses-permission android:name="android.permission.Ma"/> -->
    
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.lebicycling"
        >
   </instrumentation>


    <application
        android:name="com.lebicycling.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9Gm72RLfFLqPS0ZhYMv5ggih" />
        <uses-library android:name="android.test.runner" />
        <!-- 开始界面 -->
        <activity
            android:name="com.lepower.activity.LoginActivity"
            android:launchMode="singleTask" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           
           
           
            
        </activity>
        <!-- 手机注册界面 -->
        <activity
            android:name="com.lepower.activity.RegisterTelActivity"
            android:launchMode="singleTask" />
        <!-- 邮箱注册界面 -->
        <activity
            android:name="com.lepower.activity.RegisterEmailActivtiy"
            android:launchMode="singleTask" />
        <!-- 用户信息界面 -->
        <activity
            android:name="com.lepower.activity.RegisterUserInfoActivity"
            android:launchMode="singleTask" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <!-- 选择授权或注册 -->
        <activity
            android:name="com.lepower.activity.SelectActivity"
            android:launchMode="singleTask" />
        <!-- 手机绑定 -->
        <activity
            android:name="com.lepower.activity.BindTelActivity"
            android:launchMode="singleTask" />
        <!-- 邮箱绑定 -->
        <activity
            android:name="com.lepower.activity.BindEmailActivity"
            android:launchMode="singleTask" />
        <!-- 找回密码 -->
        <activity
            android:name="com.lepower.activity.PswByTelActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.lepower.activity.PswByEmailActivity"
            android:launchMode="singleTask" />

        <!-- QQ授权 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微博 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        
        
        <activity 
            android:name="com.lebicycling.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.lebicycling.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name="com.lebicycling.MapHistoryActivity"
            android:label="@string/title_activity_map_history" >
           
        </activity>
        <activity
            android:name="com.lebicycling.BicyclingRecordActivity"
            android:label="@string/title_activity_bicycling_record" >
        </activity>
          <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <activity
            android:name="com.lebicycling.BicyclingTraceActivity"
            android:label="@string/title_activity_bicycling_trace" >
        </activity>
    </application>

</manifest>