<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.lesport.mapper.JumpMapper">

	<insert id="save" parameterType="UserJump">
		insert into
		le_user_jump(rowid,user_id,jump_count,calorie,order_id,date,created_date)
		values(#{jumpId},#{userId},#{jumpCount},#{calorie},#{orderId},#{date},#{createdDate})
	</insert>

	<select id="findById" resultType="UserJump">		
		select rowid jumpId,user_id userId,date,
		jump_count jumpCount,calorie,order_id orderId from le_user_jump
			<![CDATA[ where delete_flag='N'and user_id=#{userId} and order_id>#{order}]]>
	</select> 

	<select id="getJumpOrder" resultType="String">
			select max(order_id) orderId from le_user_jump
		where delete_flag='N' and user_id=#{userId}
	</select>
</mapper>